*{
    margin:0;
    padding:0;
}
body {
    font-family: arial;
    font-size: 14px;
    color: #666;
}
header {
    width: 100%;
    background-color: #ff9600;
}
#logo, #search, #cart {
    height:98px;
    line-height:98px;
}
#logo h1{
    margin: 0;
}
#search input[type=search] {
    float:left;
    width: 330px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 0 15px;
}
#search input[type=search]::placeholder {
    color:#fff;
    opacity: 0.8;
}
#search input[type=submit] {
    width: 100px;
    height: 35px;
    line-height: 35px;
    border: none;
    color: #ff9600;
    background-color:#fff;
}
form {
    margin: 28px;
}
#cart {
    height: 100px;
    font-size: 14px;
    font-weight: bold;
    background: url(../images/cart.png) no-repeat;
}
#cart:before{
    content: "6";
    position: absolute;
    top: 0;
    left: 140px;
}
